*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    font-family: sans-serif;
}

.header{
    padding: 1em;
    text-align: center;
}

.main-section{
    padding: 1.5em;
}

.img{
    width: 40%;
    margin-bottom: 1em;
}

.min-heading{
    margin-bottom: 1em;
}

ul{
    margin-bottom: 1em;
}